<!DOCTYPE html>
<html>
<head>
  <title>Shoestore</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="page-header">
  <% if @shoe %>
  <div class="head-image">
    <h1><%= @shoe.brand %> <small> <%= @shoe.name %> </small></h1>
  </div>
    <% else %>
     <div class="head-image"></div>
  <% end %>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/shoes">
          <img alt="Brand" class="brand-logo" src="http://www.iconsplace.com/icons/preview/white/shoe-man-256.png">
        </a>
        <p class="navbar-text">Schoenen voor mannen .com</p>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#">Smart casual</a></li>
          <li><a href="#">Casual</a></li>
          <li><a href="#">Sporty</a></li>
          </li>
        </ul>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- search field -->
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> <!-- end search field -->
            <li class="cart-text"><%= render 'layouts/cart_text' %></li>
            <% if !user_signed_in? %>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>

  <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <%end%>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer>
</body>
</html>
