<!DOCTYPE html>
<html>
<head>
  <title>Shoestore</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="page-header">
  <% if @shoe %>
  <div class="head-image">
    <h1><%= @shoe.brand %> <small> <%= @shoe.name %> </small></h1>
  </div>
    <% else %>
     <div class="head-image"></div>
  <% end %>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" class="brand-logo" src="http://www.iconsplace.com/icons/preview/white/shoe-man-256.png">
        </a>
        <p class="navbar-text">Schoenen voor mannen .com</p>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#">Smart casual</a></li>
          <li><a href="#">Casual</a></li>
          <li><a href="#">Sporty</a></li>
          </li>
        </ul>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">About</a></li>
              <li><a href="#">Term & conditions</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
        </ul>
        <!-- search field -->
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> <!-- end search field -->
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <%end%>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
